{{- if .Values.global.istio.enabled }}
---
# EnvoyFilter to fix Apache HttpClient 5.4+ upgrade header issue
# Reference: https://github.com/istio/istio/issues/53239
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: remove-upgrade-header
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "petclinic.labels" . | nindent 4 }}
spec:
  workloadSelector:
    labels:
      app.kubernetes.io/part-of: petclinic
  configPatches:
  - applyTo: HTTP_FILTER
    match:
      context: SIDECAR_OUTBOUND
      listener:
        filterChain:
          filter:
            name: envoy.filters.network.http_connection_manager
            subFilter:
              name: envoy.filters.http.router
    patch:
      operation: INSERT_BEFORE
      value:
        name: envoy.filters.http.lua
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
          inlineCode: |
            function envoy_on_request(request_handle)
              request_handle:headers():remove("upgrade")
              request_handle:headers():remove("connection")
            end
{{- end }}

